:root {
  --scope-line-height: 4px;
  --scope-line-active-height: 10px;
}
.browse-container {
  width: 100%;
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
}

.filetree-section {
  background-color: rgb(33, 33, 56);
  border-right: 1px solid black;
  max-width: 250px;
  height: calc(100vh - 20px);
  overflow: auto;
  padding: 10px;
}

.file-content-section {
  padding: 10px;
  max-width: calc(100% - 20px);
  height: calc(100vh - 20px);
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.file-content-source {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #eeeeee;
}

.file-content-review {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.code-line {
  position: relative;
  display: block;
  height: 24px;
  /* z-index: 10; */
  /* width: 100%; */
}

.code-line:hover {
  background-color: rgb(103, 41, 71);
  cursor: pointer;
}

#code-scope-container {
  position: absolute;
  width: 100%;
  top: 0px;
}

#code-scope-section {
  position: relative;
  z-index: 100;
  width: 100%;
}

#code-scope-startline {
  width: 100%;
  top: 0px;
  height: var(--scope-line-height);
  position: absolute;
  background-color: rgb(77, 79, 231);
  z-index: 150;
}

#code-scope-startline:hover {
  height: var(--scope-line-active-height);
  margin-top: -6px;
  cursor: n-resize;
}
#code-scope-startline[data-wait='true'] {
  height: var(--scope-line-active-height);
  background-color: blue;
  margin-top: -6px;
  cursor: n-resize;
}

#code-scope-target-section {
  position: absolute;
  width: 100%;
  background-color: #6a3eff40;
  z-index: -1;
}
#code-scope-target-section:hover {
  z-index: -1;
}

#code-scope-endline {
  width: 100%;
  height: var(--scope-line-height);
  background-color: rgb(77, 79, 231);
  position: absolute;
  top: 18px;
  z-index: 150;
}
#code-scope-endline:hover {
  height: var(--scope-line-active-height);
  margin-top: -2px;
  cursor: s-resize;
}
#code-scope-endline[data-wait='true'] {
  height: var(--scope-line-active-height);
  background-color: blue;
  cursor: n-resize;
}
